{% load static %}
<div class="footer-area bg-color pt-100 pb-70">
    <div class="container">
    <div class="row">
    <div class="col-lg-4 col-sm-6">
    <div class="single-footer-widget logo-content">
    
    <p>We provide comprehensive support for all of your human resource needs, promoting the importance of standard HR practices and going above and beyond to anticipate and meet the needs of our employees in order to maximize productivity.</p>
    <div class="social-content">
    <ul>
    <li>
    <span>Follow Us:</span>
    </li>
    <li>
    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
    </li>
    <li>
    <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </li>
    <li>
    <a href="https://instagram.com/?lang=en" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="single-footer-widget quick-link">
    <h3>For Employer</h3>
    <ul>
    <li><a href="candidates.html">Browse Candidates</a></li>
    <li><a href="employers.html">Employers Dashboard</a></li>
    <li><a href="packages.html">Job Packages</a></li>
    <li><a href="manage-jobs.html">Jobs Featured</a></li>
    <li><a href="post-job.html">Post A Job</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-2 col-sm-6">
    <div class="single-footer-widget quick-link">
    <h3>Company</h3>
    <ul>
    <li><a href="about-us.html">About Us</a></li>
    <li><a href="contact.html">Contact Us</a></li>
    <li><a href="terms-conditions.html">Terms & Conditions</a></li>
    <li><a href="privacy-policy.html">Privacy Policy</a></li>
    <li><a href="candidates.html">Candidate Listing</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="single-footer-widget info">
    <h3>Official Info</h3>
    <ul>
    <li>
    <i class="fa-solid fa-location-dot"></i>
    <h4>Location:</h4>
    <span>2976 sunrise road las vegas</span>
    </li>
    <li>
    <i class="fa-solid fa-envelope"></i>
    <h4>Email:</h4>
    <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#a5cdc0c9c9cae5cfc4c7c48bc6cac8"><span class="__cf_email__" data-cfemail="85ede0e9e9eac5efe4e7e4abe6eae8">[email&#160;protected]</span></a>
    </li>
    <li>
    <i class="fa-solid fa-phone"></i>
    <h4>Phone:</h4>
    <a href="tel:098765432150">098765432150</a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="copy-right">
    <div class="container">
    <p>© <span>Encareer Ventures</span> is Proudly Developed by <a href="http://techspace.co.ke/" target="_blank">Techspace Softwares</a></p>
    </div>
    </div>
    
    
    <div class="go-top">
    <i class="fa-solid fa-arrow-up-long"></i>
    <i class="fa-solid fa-arrow-up-long"></i>
    </div>
    