{% load static %}

<div class="navbar-area">
    <div class="mobile-responsive-nav">
    <div class="container">
    <div class="mobile-responsive-menu">
    <div class="logo">
    <a href="index.html">
    <img src="{{logo_obj.background_image.url}}" class="main-logo" alt="logo" style="width: 60px;">
    <img src="{{logo_obj.background_image.url}}" class="white-logo" alt="logo" style="width: 60px;">
    </a>
    </div>
    </div>
    </div>
    </div>
    <div class="desktop-nav">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="index.html">
    <img src="{{logo_obj.background_image.url}}" class="main-logo" alt="logo" style="width: 60px;">
    <img src="{{logo_obj.background_image.url}}" class="white-logo" alt="logo" style="width: 60px;">
    </a>
    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
    <li class="nav-item">
    <a href="{% url 'frontend:homepage' %}" class="nav-link active">
    Home
    </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'frontend:aboutpage' %}" class="nav-link">About Us</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle">
                Services
            </a>
            <ul class="dropdown-menu">
            <li class="nav-item">

                {% for item in services_obj %}
                  
                


            <a href="{% url 'frontend:service-details' item.slug %}" class="nav-link">{{item.title|title}}</a>

            {% endfor %}


            </li>
          
            </ul>
            </li>








    <li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle">
    Pages
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="about-us.html" class="nav-link">About Us</a>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle">
    Freelancer
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="freelancer.html" class="nav-link">Freelancer</a>
    </li>
    <li class="nav-item">
    <a href="freelancer-details.html" class="nav-link">Freelancer Details</a>
    </li>
    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle">
    Company
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="company.html" class="nav-link">Company Listing</a>
    </li>
    <li class="nav-item">
    <a href="company-details.html" class="nav-link">Company Details</a>
    </li>
    </ul>
    </li>
    <li class="nav-item">
    <a href="search-job.html" class="nav-link">Search Job</a>
    </li>
    <li class="nav-item">
    <a href="pricing.html" class="nav-link">Pricing</a>
    </li>
     <li class="nav-item">
    <a href="testimonials.html" class="nav-link">Testimonials</a>
    </li>
    <li class="nav-item">
    <a href="faq.html" class="nav-link">FAQ</a>
    </li>
    <li class="nav-item">
    <a href="contact.html" class="nav-link">Contact us</a>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle">
    Users
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="login.html" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
    <a href="register.html" class="nav-link">Register</a>
    </li>
    <li class="nav-item">
    <a href="recover-password.html" class="nav-link">Recover Password</a>
    </li>
    </ul>
    </li>
    <li class="nav-item">
    <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
    </li>
    <li class="nav-item">
    <a href="terms-conditions.html" class="nav-link">Terms And Conditions</a>
    </li>
    <li class="nav-item">
    <a href="coming-soon.html" class="nav-link">Coming Soon</a>
    </li>
    <li class="nav-item">
    <a href="404.html" class="nav-link">404 Page</a>
    </li>
    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle">
    Jobs
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="job-listing.html" class="nav-link">Job Listing</a>
    </li>
    <li class="nav-item">
    <a href="post-job.html" class="nav-link">Post A Job</a>
    </li>
    <li class="nav-item">
    <a href="job-details.html" class="nav-link">Job Details</a>
    </li>
    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle">
    Employers
    </a>
     <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="employers.html" class="nav-link">Employers Listing</a>
    </li>
    <li class="nav-item">
    <a href="employers-details.html" class="nav-link">Employers Details</a>
    </li>
    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle">
    Candidates
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="candidates.html" class="nav-link">Candidates Listing</a>
    </li>
    <li class="nav-item">
    <a href="candidates-details.html" class="nav-link">Candidates Details</a>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link dropdown-toggle">
    Dashboard
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="dashboard.html" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item">
    <a href="dashboard-post-job.html" class="nav-link">Post A Job</a>
    </li>
    <li class="nav-item">
    <a href="manage-jobs.html" class="nav-link">Manage Jobs</a>
    </li>
    <li class="nav-item">
    <a href="manage-applicants.html" class="nav-link">Manage Applicants</a>
    </li>
    <li class="nav-item">
    <a href="bookmark.html" class="nav-link">Bookmark Resumes</a>
    </li>
    <li class="nav-item">
    <a href="packages.html" class="nav-link">Packages</a>
    </li>
    <li class="nav-item">
    <a href="messages.html" class="nav-link">Messages</a>
    </li>
    <li class="nav-item">
    <a href="profile.html" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item">
    <a href="change-password.html" class="nav-link">Change Password</a>
    </li>
    </ul>
    </li>
    </ul>
    </li>
    <li class="nav-item">
     <a href="#" class="nav-link dropdown-toggle">
    Blog
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="blog-grid.html" class="nav-link">Blog Grid</a>
    </li>
    <li class="nav-item">
    <a href="blog-right-sidebar.html" class="nav-link">Blog Right Sidebar</a>
    </li>
    <li class="nav-item">
    <a href="blog-details.html" class="nav-link">Blog Details</a>
    </li>
    </ul>
    </li>
    </ul>
    <div class="others-options">
    <div class="option-item">
    <a href="login.html" class="default-btn btn style-2"><i class="fa-regular fa-user"></i> Login / Register</a>
    </div>
    <div class="option-item">
    <a href="post-job.html" class="default-btn btn">Post New Job</a>
    </div>
    </div>
    </div>
    </nav>
    </div>
    </div>
    <div class="others-option-for-responsive">
    <div class="container">
    <div class="dot-menu">
    <div class="inner">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="circle circle-three"></div>
    </div>
    </div>
    <div class="container">
    <div class="option-inner">
    <div class="others-options justify-content-center d-flex align-items-center">
    <div class="others-options">
    <div class="option-item">
    <a href="login.html" class="default-btn btn style-2"><i class="fa-regular fa-user"></i> Login / Register</a>
    </div>
    <div class="option-item">
    <a href="post-job.html" class="default-btn btn">Post New Job</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    