{% load static %}

<div class="navbar-area">
    <div class="mobile-responsive-nav">
    <div class="container">
    <div class="mobile-responsive-menu">
    <div class="logo">
    <a href="index.html">
    <img src="{{logo_obj.background_image.url}}" class="main-logo" alt="logo" style="width: 60px;">
    <img src="{{logo_obj.background_image.url}}" class="white-logo" alt="logo" style="width: 60px;">
    </a>
    </div>
    </div>
    </div>
    </div>
    <div class="desktop-nav">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="index.html">
    <img src="{{logo_obj.background_image.url}}" class="main-logo" alt="logo" style="width: 60px;">
    <img src="{{logo_obj.background_image.url}}" class="white-logo" alt="logo" style="width: 60px;">
    </a>
    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
    <li class="nav-item">
    <a href="{% url 'frontend:homepage' %}" class="nav-link active">
    Home
    </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'frontend:aboutpage' %}" class="nav-link">About Us</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle">
                Services
            </a>
            <ul class="dropdown-menu">
            <li class="nav-item">

                {% for item in services_obj %}
                  
                


            <a href="{% url 'frontend:service-details' item.slug %}" class="nav-link">{{item.title|title}}</a>

            {% endfor %}


            </li>
          
            </ul>
            </li>


            <li class="nav-item">
                <a href="{% url 'jobapp:jobs' %}" class="nav-link">
                Find Jobs
                </a>
              
                </li>



            <li class="nav-item">
                <a href="{% url 'blogs:blogs' %}" class="nav-link">
               Blog
               </a>
               </li>


               <li class="nav-item">
                <a href="{% url 'contact-us:contactus' %}" class="nav-link">Contact us</a>
                </li>








    </div>
    </nav>
    </div>
    </div>
    <div class="others-option-for-responsive">
    <div class="container">
    <div class="dot-menu">
    <div class="inner">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="circle circle-three"></div>
    </div>
    </div>
    <div class="container">
    <div class="option-inner">
    <div class="others-options justify-content-center d-flex align-items-center">
    <div class="others-options">
    <div class="option-item">
    <a href="login.html" class="default-btn btn style-2"><i class="fa-regular fa-user"></i> Login / Register</a>
    </div>
    <div class="option-item">
    <a href="post-job.html" class="default-btn btn">Post New Job</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    