{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="cv-area ptb-100">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6">
    <div class="cv-img-area-style2">
    <img src="{{about_obj.image.url}}" alt="Image" >
    <div class="">
   
 
    </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="cv-content style2 pl-15">
    <h2>About Us</h2>
    <p>{{about_obj.about|safe}}</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="works-area pt-100 pb-70 bg-f0f5f7">
    <div class="container">
    <div class="section-title">
    <h2>Our Recruitment Process</h2>
    
    </div>
    <div class="row">
    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
    <div class="single-works-card style-2">
    <div class="icon">
    <i class="flaticon-bag"></i>
    <div class="number">
    <span>1</span>
    </div>
    </div>
    <h3>{{about_obj.stage_one_title}}</h3>
    <p>{{about_obj.firstprocess|safe}}</p>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
    <div class="single-works-card style-2">
    <div class="icon">
    <i class="flaticon-company"></i>
    <div class="number">
    <span>2</span>
    </div>
    </div>
    <h3>{{about_obj.stage_two_title}}</h3>
    <p>{{about_obj.secondprocess|safe}}</p>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600">
    <div class="single-works-card style-2">
    <div class="icon">
    <i class="flaticon-business"></i>
     <div class="number">
    <span>3</span>
    </div>
    </div>
    <h3>{{about_obj.stage_three_title}}</h3>
    <p>{{about_obj.thirdprocess|safe}} </p>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
    <div class="single-works-card style-2">
    <div class="icon">
    <i class="flaticon-recruitment"></i>
    <div class="number">
    <span>4</span>
    </div>
    </div>
    <h3>{{about_obj.stage_four_title}}</h3>
    <p>{{about_obj.fourthprocess|safe}} </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="counters-area pt-100 pb-70">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-6">
    <div class="single-counter-item style-2">
    <div class="icon">
    <i class="flaticon-bag"></i>
    </div>
    <h1>
    <span class="odometer" data-count="{{totaljob_obj}}">00</span>
    <span class="target">+</span>
    </h1>
    <p>Total Jobs</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-6">
    <div class="single-counter-item style-2">
    <div class="icon">
    <i class="flaticon-office-building"></i>
    </div>
    <h1>
    <span class="odometer" data-count="{{activejob_obj}}">00</span>
    </h1>
    <p>Active Jobs</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-6">
    <div class="single-counter-item style-2">
    <div class="icon">
    <i class="flaticon-cv"></i>
    </div>
    <h1>
    <span class="odometer" data-count="{{total_applicants}}">00</span>
    </h1>
    <p>Resume</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-6">
    <div class="single-counter-item style-2">
    <div class="icon">
    <i class="flaticon-member"></i>
    </div>
    <h1>
    <span class="odometer" data-count="{{total_applicants}}">00</span>
    </h1>
    <p>Total Users</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
   
    
 
    



{% endblock %}