{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}




<!-- Banner Section-->
<section class="banner-section-seven">
  <div class="image-outer">
    <figure class="image"><img src="{% static 'images/resource/banner-img-8.png' %}" alt=""></figure>
  </div>
  <div class="auto-container">
    <div class="row">
      <div class="content-column col-lg-7 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="title-box wow fadeInUp" data-wow-delay="500ms">
            <h3>There Are

              <span class="colored">{{jobscount_obj}} </span> Jobs Here For you!
            </h3>
            <div class="text">Find Jobs, Employment & Career Opportunities</div>
          </div>






        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Section-->



<!-- Job Section -->
<section class="job-section-five style-two">
  <div class="auto-container">
    <div class="row wow fadeInUp">
      <div class="featured-column col-xl-9 col-lg-12 col-md-12 col-sm-12">
        <div class="sec-title">
          <h2>Featured Jobs</h2>
          <div class="text">Know your worth and find the job that qualify your life</div>
        </div>
        <div class="outer-box">
          <!-- Job Block -->


          {% for job in jobs_obj %}



          <div class="job-block-five">
            <div class="inner-box">
              <div class="content">
                <span class="company-logo"><img src="{{logo_obj.background_image.url}}" alt=""
                    style="align-items: center;size: 50px;"></span>
                <h4><a href="#">{{job.title}}</a></h4>
                <ul class="job-info">
                  <li><span class="icon flaticon-briefcase"></span> {{job.company}}</li>
                  <li><span class="icon flaticon-map-locator"></span> {{job.location}},KE</li>
                  <li><span class="icon flaticon-clock-3"></span> {{job.created_date|timesince }} ago</li>
                </ul>
              </div>
              <ul class="job-other-info">
                <li class="time">{{job.job_type}}</li>
              </ul>
              <a href="#" class="theme-btn btn-style-eight">Apply Job</a>
            </div>
          </div>


          {% endfor %}


        </div>
        <div class="btn-box">
          <a href="#" class="theme-btn btn-style-one">Load More Listing</a>
        </div>
      </div>


      <!-- Ad Area -->
      <div class="recent-column col-xl-3 col-lg-12 col-md-12 col-sm-12">
        <div class="sec-title">

          <div class="text"></div>
        </div>

        <!-- Job Block -->
        <div class="job-block-four">
          <!-- <div class="inner-box"> -->
            <br>
            <br>
            <br>

          <span><img src="{{offer_obj.offer_image.url}}" alt=""></span>

          <!-- </div> -->

          <div class="btn-box">
            <a href="#" class="theme-btn btn-style-one">Contact Us</a>
          </div>
        </div>

      </div>
     
    </div>
    <!-- End Of Ad Area -->
  </div>
</section>
<!-- End Job Section -->

<!-- Service Section -->


<section class="news-section">
  <div class="auto-container">
    <div class="sec-title text-center">
      <h2>Our Services</h2>
    </div>

    <div class="row wow fadeInUp">

      {% for service in services_obj %}
        
     
    <!-- Single Service -->
      <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image" style='max-width:280px'><img src="{{service.service_image.url}}" alt="" /></figure>
          </div>
          <div class="content-box">
           
            <h3><a href="blog-single.html">{{service.title}}</a></h3>
            <p class="text">{{service.description|safe|truncatewords:50}}....</p>
            <a href="#" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
<!-- End of single Service -->

{% endfor %}
  
     
    </div>
  </div>
</section>







<!-- End Of Service Section -->

<!--Clients Section-->
<section class="clients-section-two wow fadeInUp" data-wow-delay="2000ms">
  <!--Sponsors Carousel-->
  <ul class="sponsors-carousel-two owl-carousel owl-theme">




    {% for company  in  company_obj %}
      
   
    <li class="slide-item">
      <figure class="image-box"><a href="#"><img src="{{company.company_logo.url}}" alt=""></a></figure>
    </li>


    {% endfor %}
  </ul>
</section>
<!-- End Clients Section-->

<!-- Blog Section -->
<section class="layout-pt-120 layout-pb-120">
  <div class="auto-container">
    <div class="row justify-content-between align-items-end">
      <div class="col-lg-6">
        <div class="">
          <h2 class="fw-700">Latest news</h2>
          <div class="text mt-9">Consectetur adipisicing elit, sed do eiusmod temp</div>
        </div>
      </div>

      <div class="col-auto">
        <a href="#" class="button-icon -arrow">
          Browse All
          <span class="fa fa-angle-right"></span>
        </a>
      </div>
    </div>

    <div class="row grid-base pt-50 wow fadeInUp">

      <!-- Blog Block -->


      {% for blog in  blog_obj %}

      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="blog -type-1">
          <div class="blog-image">
            <img src="{{blog.header_image.url}}" alt="image"  style='max-width:140px'>
          </div>

          <div class="blog-content">
            <div>November 23, 2021</div>
            <h4><a href="#">Free advertising for your<br> online business</a></h4>
          </div>
        </div>
      </div>

      {% endfor %}

  
    </div>
  </div>
</section>
<!-- Blog Section -->




{% endblock content %}