{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/metismenu.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/simplebar.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/dark.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
<title>Encareer Ventures - Job Board HTML Template</title>
<link rel="icon" type="image/png" href="{{logo_obj.background_image.url}}">
</head>
<body>

<div id="preloader-section">
<div id="preloader">
<div id="ctn-preloader" class="ctn-preloader">
<div class="animation-preloader">

<div class="spinner"></div>

<div class="txt-loading">
    <span data-text-preloader="." class="letters-loading">.</span>
    <span data-text-preloader="." class="letters-loading">.</span>
    <span data-text-preloader="." class="letters-loading">.</span>
    <span data-text-preloader="." class="letters-loading">.</span>
</div>

</div>

<div class="loader-section section-left"></div>
<div class="loader-section section-right"></div>

</div>
</div>
</div>
{% include 'partials/header.html' %}




{% block content %}
    
{% endblock  %}




   {% include 'partials/footer.html' %}
    
    <div class="go-top">
    <i class="fa-solid fa-arrow-up-long"></i>
    <i class="fa-solid fa-arrow-up-long"></i>
    </div>
    
    
    <script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'assets/js/jquery.min.js' %}"></script>
    
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    
    <script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
    
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    
    <script src="{% static 'assets/js/carousel-thumbs.min.js' %}"></script>
    
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    
    <script src="{% static 'assets/js/aos.js' %}"></script>
    
    <script src="{% static 'assets/js/mixitup.min.js' %}"></script>
    
    <script src="{% static 'assets/js/scrollmagic.min.js' %}"></script>
    
    <script src="{% static 'assets/js/animation.gsap.min.js' %}"></script>
    
    <script src="{% static 'assets/js/debug.addIndicators.min.js' %}"></script>
    
    <script src="{% static 'assets/js/tweenmax.min.js' %}"></script>
    
    <script src="{% static 'assets/js/progresscircle.min.js' %}"></script>
    
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    
    <script src="{% static 'assets/js/simplebar.min.js' %}"></script>
    
    <script src="{% static 'assets/js/metismenu.min.js' %}"></script>
    
    <script src="{% static 'assets/js/odometer.min.js' %}"></script>
    
    <script src="{% static 'assets/js/appear.min.js' %}"></script>
    
    <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
    
    <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
    
    <script src="{% static 'assets/js/ajaxchimp.min.js' %}"></script>
    
    <script src="{% static 'assets/js/custom.js' %}"></script>
    </body>
    
    
    </html>

    
        
    